02_basecalling/7316-1700.dorado.bam
02_basecalling/7316-2227.dorado.bam
02_basecalling/7316-2252.dorado.bam
02_basecalling/7316-2322.dorado.bam
02_basecalling/7316-2700.dorado.bam
02_basecalling/7316-3510.dorado.bam
02_basecalling/7316-438.dorado.bam
02_basecalling/7316-489.dorado.bam
02_basecalling/7316-670.dorado.bam
02_basecalling/7316-737.dorado.bam
02_basecalling/7316-906.dorado.bam
02_basecalling/7316-922.dorado.bam
02_basecalling/N_4390.dorado.bam
02_basecalling/N_6321.dorado.bam
02_basecalling/N_8009.dorado.bam
02_basecalling/7316-1700.fastq.gz
02_basecalling/7316-2227.fastq.gz
02_basecalling/7316-2252.fastq.gz
02_basecalling/7316-2322.fastq.gz
02_basecalling/7316-2700.fastq.gz
02_basecalling/7316-3510.fastq.gz
02_basecalling/7316-438.fastq.gz
02_basecalling/7316-489.fastq.gz
02_basecalling/7316-670.fastq.gz
02_basecalling/7316-737.fastq.gz
02_basecalling/7316-906.fastq.gz
02_basecalling/7316-922.fastq.gz
02_basecalling/N_4390.fastq.gz
02_basecalling/N_6321.fastq.gz
02_basecalling/N_8009.fastq.gz
03_genomic_alignment/7316-1700.dorado.bam
03_genomic_alignment/7316-2227.dorado.bam
03_genomic_alignment/7316-2252.dorado.bam
03_genomic_alignment/7316-2322.dorado.bam
03_genomic_alignment/7316-2700.dorado.bam
03_genomic_alignment/7316-3510.dorado.bam
03_genomic_alignment/7316-438.dorado.bam
03_genomic_alignment/7316-489.dorado.bam
03_genomic_alignment/7316-670.dorado.bam
03_genomic_alignment/7316-737.dorado.bam
03_genomic_alignment/7316-906.dorado.bam
03_genomic_alignment/7316-922.dorado.bam
03_genomic_alignment/N_4390.dorado.bam
03_genomic_alignment/N_6321.dorado.bam
03_genomic_alignment/N_8009.dorado.bam
*.fastq.gz
*.fq.gz
*.bam
*.bam.bai
*.pod5
